.x-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;

  &:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
}

.x-button-primary {
  background-color: #409eff;
}

.x-button-warning {
  background-color: #e6a23c;
}

.x-button-danger {
  background-color: #f56c6c;
}
.x-button-disable {
  cursor: not-allowed;
  opacity: 0.5;
}
